doctype html 
html(lang='es')
    head
       meta(charset='utf-8')
       title Título de página
       link(rel='stylesheet', type='text/css', media='screen', href='css/main.css')
       script(src='libjs/jquery.min.js')
       script(src='libjs/archivo.js') 
    body
        ul
            li uno
            li dos
            li tres
            li for
        include includes/footer.pug