$colorRojo = red

body
    background-color $colorRojo
.wrapper
	background rgba(white,0.5)
	color yellow
	width 980px
	margin 0 auto
nav
	ul
		margin 0 auto
		li
			display inline-block
			.lista
				color white
 
.claseTexto
#objetoTexto
p
.claseTexto1,.claseTexto2
	color #FF0
	font-size 1.2em
	text-align center
 
a.boton
	color red
	&:hover
		color blue